<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>MyShoppee</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <a href="index.html">MyShoppee</a>
        </div>
        <div class="header-links">
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>

      <main class="main">
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="/images/kids bag.png"
                  alt="Product"
                />
                <div class="product-name">
                  <a href="product.html">Kids Bag</a>
                </div>
                <div class="product-brand">Titan</div>
                <div class="product-price">£50</div>
                <div class="product-rating">4.5 stars (10 Reviews)</div>
              </div>
            </li>

            <li>
              <div class="product">
                <img class="product-image" src="/images/women dress.png" alt="Product" />
                <div class="product-name"><a href="product.html">Dress for Her</a></div>
                <div class="product-brand">Zoro</div>
                <div class="product-price">£75</div>
                <div class="product-rating">4.5 stars (10 Reviews)</div>
              </div>
            </li>

            <li>
              <div class="product">
                <img class="product-image" src="/images/men belt.png" alt="Product" />
                <div class="product-name"><a href="product.html">Belt</a></div>
                <div class="product-brand">Belt</div>
                <div class="product-price">£25</div>
                <div class="product-rating">4.5 stars (10 Reviews)</div>
              </div>
            </li>


            
          </ul>
        </div>
      </main>
      <footer class="footer">All right reserved.</footer>
    </div>
  </body>
</html>
